body{
  margin: 0;
}

#page {
  width: 768px;
  height: 1024px;
  margin: 0 auto;
/*  zoom: 72%;*/
}

#image-preview-container {
  position: absolute;
  top: 0;
  left: 90%;
  background:url(images/preview_background.png);
  background-position: -55px bottom;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-right: 50px;
  padding-bottom: 50px;
}

#image-preview-container canvas {
/*      border: 1px solid green;   */
}

#tutorial-container {
  display: inline-block;
  position: relative;
}

#total-score, #current-score {
  font-family: helvetica;
  font-weight: bold;
  font-size: 22px;
  color: black;
  text-shadow: 2px 2px 1px white;
  position: absolute;
}

#current-score {
  top: 200px;
  left: 565px;  
}

#current-score .of, #current-score .max-score { color: #444; }

.screen {
  width: 768px;
  height: 1024px;
  /*      border: 1px solid green;*/
  position: relative;
  background:url(images/paper.jpg);
  background-size: 100%;
  overflow: hidden;
}

#startScreen {
  text-align: center;
  position: relative;
}

#startScreen .start-screen-style {
  position: absolute;
  width: 100%;
}

#startScreen #start-button {
  top: 800px;
}

#startScreen #logo-text {
  top: 200px;
  z-index: 2;
}

#startScreen #start-screen-drawings {
  top: 60px;
  z-index: 1;
}

#startScreen #stars {
  top: 940px;
}

#startScreen #stars img {
  margin: 0 50px;
}

#transitionScreen {
  text-align: center;
  height: 324px;  /* 1024 - canvas_width */
  position: relative;
}

#total-score {
  top: 150px;
  left: 280px;
  font-size:200%;
}

#transitionScreen .list-button {
  top: 250px;
  left: 690px;
  position: absolute;
}

#transitionScreen .next-button {
  top: 250px;
  left: 600px;
  position: absolute;
}

#transitionScreen #stars {
  margin-top: 100px;
}

#listScreen {
  overflow-y: auto;
}

#listScreen .drawing-frame {
  height: 150px;
  width: 150px;
  float: left;
  margin-left: 35px;
  margin-top: 20px;
  text-align: center;
  background-repeat: no-repeat;
}

#listScreen .drawing-frame-unavailable {
  position: relative;
}

#listScreen .drawing-frame-unavailable .lock {
  bottom: 33px;
  left: 5px;
  position: absolute;
}

#listScreen .video-watch {
  background-image:url(images/video_tile.png);
}

#listScreen .video-watch-unavailable {
  position: relative;
  background-image:url(images/locked_video_tile.png);
}

#listScreen .video-watch-unavailable .lock {
  bottom: 33px;
  left: 5px;
  position: absolute;
}

#videoScreen #video-message {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 380px;
  font-family: helvetica;
  font-weight: bold;
  font-size: 50px;
  color: #6AC8FF;
  text-shadow: 2px 2px 5px black;
}

.drawing-frame img {
  max-width: 90px;
  max-height: 90px;
  margin-top: 20px;
}

#debug {
  position: absolute;
  left: 150px;
  z-index: 200;
}

#completion-image {
  height: 80;
  width: 80;
  top: 50%;
  left: 50%;
  position: absolute;
}

/* NEW PALETTE SYLES*/
.smaller-mixing-area {
  /* Same as mixing area canvas size */
  width: 90px;
  height: 50px;
  overflow: hidden;
}

#palette {
  height: 324px;  /* 1024 - canvas_width */
  background-image:url('images/palette_background.png');
  position: relative;
}

#palette div {
  position: absolute;
}

#first {
  left: 15px;
  top: 55px;
}
#second {
  left: 115px;
  top: 27px;
}
#third {
  left: 215px;
  top: 18px;
}
#fourth {
  left: 315px;
  top: 21px;
}
#fifth {
  left: 415px;
  top: 24px;
}
#sixth {
  left: 515px;
  top: 28px;
}
#seventh {
  left: 615px;
  top: 55px;
}
#blue {
  left: 80px;
  top: 200px;
}
#red {
  left: 180px;
  top: 225px;
}
#yellow {
  left: 280px;
  top: 235px;
}
#green {
  left: 380px;
  top: 225px;
}
#white {
  left: 480px;
  top: 215px;
}
#black {
  left: 580px;
  top: 195px;
}    

#mixing-area-square {
  left: 200px;
  top: 115px;
}

#clear-button {
  left: 570px;
  top: 135px;
}

#palette .list-button {
  left: 700px;
  top: 250px;
}
