#image-preview-container {
/*      border: 1px solid red;*/
position: absolute;
top: 0;
left: 90%;
background:url(images/preview_background.png);
background-position: -55px bottom;
background-repeat: no-repeat;
padding-left: 10px;
padding-right: 50px;
padding-bottom: 50px;
}

#image-preview-container canvas {
/*      border: 1px solid green;   */
}

#tutorial-container {
  display: inline-block;
  position: relative;
}

.score {
  font-family: helvetica;
  font-weight:bold;
  font-size: 25px;
  color: black;
  text-shadow: 2px 2px 1px white;
  position: absolute;
}

#current-score {
  top: 200px;
  left: 600px;  
}

.screen {
  width: 768px;
  height: 1024px;
  /*      border: 1px solid green;*/
  position: relative;
  background:url(images/paper.jpg);
  background-size: 100%;
}

#transitionScreen {
  text-align: center;
  height: 324px;  /* 1024 - canvas_width */
  position: relative;
}

#total-score {
  top: 150px;
  left: 280px;
  font-size:200%;
}

#transitionScreen .list-button {
  top: 250px;
  left: 690px;
  position: absolute;
}

#transitionScreen .next-button {
  top: 250px;
  left: 600px;
  position: absolute;
}

#transitionScreen #stars {
  margin-top: 100px;
}

#videoScreen {
  position: relative;
}

#videoScreen #video-container {
  top: 0;
  left: 100%;
  background: url(images/preview_background.png);
  height: 900px;
}

#videoScreen #video-container video {
  margin-top: 20%;
  margin-left: 10%;
  border: 5px solid grey;
  -moz-box-shadow: 50px 50px 50px white; /* FF3.5+ */
  -webkit-box-shadow: 50px 50px 50px white; /* Saf3.0+, Chrome */
  box-shadow: 10px 10px 10px white; /* Opera 10.5, IE 9.0 */
}

#videoScreen .list-button {
  top: 950px;
  left: 690px;
  position: absolute;
}

#videoScreen .next-button {
  top: 950px;
  left: 600px;
  position: absolute;
}

#listScreen {
  overflow-y: auto;
}

#listScreen .drawing-frame {
  height: 150px;
  width: 150px;
  float: left;
  margin-left: 35px;
  margin-top: 20px;
  text-align: center;
  background-repeat: no-repeat;
}

#listScreen .drawing-frame-unavailable {
  position: relative;
}

#listScreen .drawing-frame-unavailable .lock {
  bottom: 33px;
  left: 5px;
  position: absolute;
}

#listScreen .video-watch {
  background-image:url(images/video_tile.png);
}

#listScreen .video-watch-unavailable {
  position: relative;
  background-image:url(images/locked_video_tile.png);
}

#listScreen .video-watch-unavailable .lock {
  bottom: 33px;
  left: 5px;
  position: absolute;
}

.drawing-frame img {
  max-width: 90px;
  max-height: 90px;
  margin-top: 20px;
}

#debug {
  position:absolute;
  left: 150px;
  top: 1100px;
}

#completion-image {
  height: 80;
  width: 80;
  top: 50%;
  left: 50%;
  position: absolute;
}

/* NEW PALETTE SYLES*/
.smaller-mixing-area {
  /* Same as mixing area canvas size */
  width: 90px;
  height: 50px;
  overflow: hidden;
}

#palette {
  height: 324px;  /* 1024 - canvas_width */
  background-image:url('images/palette_background.png');
  position: relative;
}

#palette div {
  position: absolute;
}

#first {
  left: 15px;
  top: 55px;
}
#second {
  left: 115px;
  top: 27px;
}
#third {
  left: 215px;
  top: 18px;
}
#fourth {
  left: 315px;
  top: 21px;
}
#fifth {
  left: 415px;
  top: 24px;
}
#sixth {
  left: 515px;
  top: 28px;
}
#seventh {
  left: 615px;
  top: 55px;
}
#blue {
  left: 80px;
  top: 200px;
}
#red {
  left: 180px;
  top: 225px;
}
#yellow {
  left: 280px;
  top: 235px;
}
#green {
  left: 380px;
  top: 225px;
}
#white {
  left: 480px;
  top: 215px;
}
#black {
  left: 580px;
  top: 195px;
}    

#mixing-area-square {
  left: 200px;
  top: 115px;
}

#clear-button {
  left: 570px;
  top: 135px;
}

#palette .list-button {
  left: 700px;
  top: 250px;
}
